.DS_Store
moduledata/0*
moduledata/1*
moduledata/2*
moduledata/3*
moduledata/4*
moduledata/5*
moduledata/6*
moduledata/7*
moduledata/8*
moduledata/9*
moduledata/a*
moduledata/b*
moduledata/c*
moduledata/d*
moduledata/e*
moduledata/f*