#stud5p-app {
  max-width: 1095px;
  box-sizing: border-box;
}

.stud5p-viewer {
  border: 2px solid #eee;
  padding: 0.5em;
  line-height: 1.75em;
}

/* Replace the border between toolbar and WYSIWYG textarea that is missing
when the CKEditor4 plugin 'studip-floatbar' is disabled. - Ann
*/
.cke_top {
  border-bottom: 2px solid #c5c7ca !important;
}

.setting-disabled {
  opacity: 50%;
}

.lernmodule_infotext {
  max-width: 1095px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.75em;
  font-family: Lato, sans-serif;
}

.h5p-button-panel {
  margin-top: 0.75em; /* margin between button and the feedback above it */
  margin-bottom: 0.4em;
}

.h5p-button {
  padding: 0.5em 1em; /* vertical, horizontal */
  margin-right: 0.5em; /* margin between buttons */
  border-radius: 2em;
  background: rgb(26, 115, 217);
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 1.25em;
}

.h5p-button:last-child {
  margin-right: 0;
}

.h5p-button:hover {
  background: rgb(19, 86, 163);
}

.h5p-solution {
  color: #255c41;
  font-weight: bold;
  font-size: 16px;
  border: 1px #255c41 dashed;
  background-color: #d4f6e6;
  padding: 0.15em;
  border-radius: 0.25em;
  margin-left: 0.25em;
}

.no-select {
  user-select: none;
}
