@import 'mixins';
.travis-go-main {
    h3 {
        margin-top: 10px;
    }
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
    > .travis-go-left-column {
        flex: 1;
        min-width: 400px;
    }
    > .travis-go-right-column {
        flex: 1;
    }
}

.travis-posts {
    .travis-post.odd {
        background: var(--color--gray-6);
    }
}

.participants-list {
    @include icon(before, own-license, clickable, var(--icon-size-button));
    &::before {
        mask: var(--mask-value);
    }
    background: var(--color--gray-6);
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    a {
        color: black;
    }
}
.search-bar {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    input[type='text'] {
        flex-grow: 1;
    }
    button {
        min-width: unset;
        width: 0;
        margin: 0;
        padding: 4px 20px 4px 7px;
    }
}
