@mixin icon($position, $icon, $role: clickable, $size: var(--icon-size-default), $padding: 0, $inline: false, $align: text-top) {
    $position: $position;
    $svg: icon-path($icon, $role);

    @if $inline {
        $size: $icon-size-inline;
    }

    @if $position == before or $position == after {
        &::#{$position} {
            content: '';
            display: inline-block;
            height: $size;
            width: $size;
            background-color: currentColor;
            mask: url("#{$svg}") no-repeat center / contain;
            vertical-align: $align;


            @if $position == before {
                margin-right: $padding;
            } @else {
                margin-left: $padding;
            }
        }
    }
}


@function icon-path($icon, $role: clickable) {
    $icon: unquote($icon);
    $role: unquote($role);

    $color: 'blue';
    @if $role == info {
        $color: 'black';
    } @else if $role == accept or $role == status-green {
        $color: 'green';
    } @else if $role == inactive {
        $color: 'grey';
    } @else if $role == new or $role == attention or $role == status-red {
        $color: 'red';
    } @else if $role == info_alt or $role == info-alt {
        $color: 'white';
    } @else if $role == status-yellow {
        $color: 'yellow';
    }

    @return "#{$icon-path}/#{$color}/#{$icon}.svg";
}

// This does not quite work. Unfortunately
$image-path: "../../../../assets/images" !default;
$icon-path: "#{$image-path}/icons" !default;
