@use "mixins";

.travis-post {
    display: flex;
    gap: 5px;
    .icon {
        flex: 0;
        &[data-type='image'] {
            @include mixins.icon(before, picture, info, 16px);
        }
        &[data-type='audio'] {
            @include mixins.icon(before, audio, info, 16px);
        }
        &[data-type='text'] {
            @include mixins.icon(before, file-text, info, 16px);
        }
        &[data-type='meta'] {
            @include mixins.icon(before, exclaim-circle, info, 16px);
        }
    }
    .contents {
        flex: 1;
    }

    h4 {
        margin-top: 5px;
    }
    margin: 0;
    padding: 5px;
}
