.lernmodule-iframe {
    width: 1px;
    min-width: 100%;
    border: none;
}
/* Hide CoursewareDefaultBlock's 'edit' section */
.cw-default-block.cw-lernmodule-block .cw-block-edit {
    display: none;
}
